 body {
  font-family: 'DM Sans', sans-serif;
}

html {
  scrollbar-gutter: stable;
    margin: 0;

}


.pill {
    background: #f0f6fb;
    padding: 12px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
  }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #6F38CC;
    }


        .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;  /* IE */
    scrollbar-width: none !important;     /* Firefox */
  }



  /* vendor web dashbaord slider buttons */

  
/* Base button */
.swiper-button-next,
.swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
  position: absolute;
  z-index: 50;
}

/* WHITE CIRCLE (real visible layer) */
.swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

/* REMOVE default arrow */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}

/* CUSTOM ARROW */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid #111;
  border-right: 2px solid #111;
}

/* directions */
.swiper-button-prev::after {
  transform: rotate(-135deg);
}

.swiper-button-next::after {
  transform: rotate(45deg);
}



/* home p[age aniamiton] */

.scroll-reveal {
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1), transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
  z-index: 10;
}
.scroll-reveal.from-top {
  transform: translateX(560px) translateY(-360px);
}
.scroll-reveal.from-middle {
  transform: translateX(540px) translateY(0);
}
.scroll-reveal.from-bottom {
  transform: translateX(360px) translateY(200px);
}
.scroll-reveal.duration-1 {
  transition-duration: 1.4s;
}
.scroll-reveal.duration-2 {
  transition-duration: 1.7s;
}
.scroll-reveal.duration-3 {
  transition-duration: 1.85s;
}
.scroll-reveal.revealed {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.scroll-reveal.revealed.move-right {
  transform: translateX(18px) translateY(0);
}





