 body {
  font-family: 'DM Sans', sans-serif;
}
.pill {
    background: #f0f6fb;
    padding: 12px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
  }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #6F38CC;
    }


        .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;  /* IE */
    scrollbar-width: none !important;     /* Firefox */
  }